body{
  background-image : url(/bg-1.jpg);
  background-repeat : repeat;
  background-attachment : fixed;
  color : #000066;
  background-color : white;
}
h1{
  text-align : center;
}
.outline{
  width : 90%;
  border : 5px outset #aadd99;
  margin-left : 5%;
  margin-right : 5%;
}
.title{
  font-size : x-large;
  text-align : center;
  color : white;
  background-color:#aadd99;
}
.value{
  border : 2px inset;
  float : right;
}
.hide{
  hidden : true;
  color : red;
}
.label{
  border : 2px inset;
  color : blue;
  float : left;
}
.normal{
  color : green;
}
.alarm{
  color : red;
}
.warn{
  color : darkgoldenrod;
}
