@import "ciax-xml.css";
h1.MCRLOG{
  text-align : center;
}

table.MCRLOG{
  width : 90%;
  border : 5px outset #aadd99;
  margin-left : 5%;
  margin-right : 5%;
}

.PLNE{
  text-indent : 1em;
}
.DATE {
  color : Blue;
  white-space : nowrap;
}
.OK{
  text-indent : 1em;
  color : green;
}
.NG,.ERR{
  text-indent : 1em;
  color : red;
  font-style : italic;
}
.MCR{
  color : maroon;
}
.CMD{
  text-indent : 1em;
  color : orange;
}
.SYM{
  text-indent : 2em;
  color : cyan;
}
.QRY{
  text-indent : 1em;
  color : magenta;
}
.JDG{
  text-indent : 1em;
  color : blue;
}
.DONE,.EXEC{
  text-indent : 1em;
  color : black;
}
.WAIT{
  text-indent : 1em;
  color : purple;
}
.R1{
  text-indent : 1em;
}
.R2{
  text-indent : 2em;
}
.R3{
  text-indent : 3em;
}
.R4{
  text-indent : 4em;
}
