/**************** Global Style *****************/
html,body{
    width: 99%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    color : black;
    background-image : url(/json/bg-1.jpg);
    background-repeat : repeat;
    background-attachment : fixed;
    background-color : white;
}
table{
    width : 100%;
}
th{
    text-align : center;
}
.outline{
    max-height: 95%;
    font-weight: bold;
    border : 5px outset lightgreen;
    margin-left: 10px;
    margin-right: 0;
    background-color: rgba(200,200,200,0.5);
}
.title{
    font-size : x-large;
    text-align : center;
    color : lightcyan;
    background-color: lightgreen;
}
.footer{
    font-size : large;
    test-align : center;
    color : navy;
    background-color: lightgreen;
    padding : 3px;
}
/*************** For Status Table ****************/
.item{
    margin : 2px;
    border : 2px inset;
}
.label{
    text-align : center;
    color : blue;
}
.hide{
    color : black;
}
.normal{
    color : green;
}
.alarm{
    color : red;
}
.warn{
    color : gold;
}
.active{
    color : purple;
}
.ctllabel{
    text-align : center;
    color : orange;
    font-size: large;
}
button{
    font-weight: bold;
}
.center{
    text-align :center;
}
/****************** For Macro *******************/
/* Frame */
#ol_sel {
    position: absolute;
    left: 0;
    width: 30%;
}
#ol_rec {
    margin-left: 30%;
}
.bar{
    margin: 5px;
    overflow: auto;
}
.contents{
    margin: 5px;
    overflow: auto;
}
/* contents */
h4{
    margin: 0;
}
date{
    font-size: medium;
    color: navy;
}
ul{
    list-style: none;
    margin-left:1.5em;
    padding:0;
}
/***** Step Line *****/
/* common */
.head {
    font-size: middle;
    text-transform: uppercase;
}
/*** Title coloring ***/
.mcr{
    color : chocolate;
}
.exec, .system, .query{
    color : magenta;
}
.upd, .cfg {
    color :lightgreen;
}
.check, .goal, .wait, .sleep, .verify {
    color : cyan;
}
.stop {
    color : red;
}
/* var name of condition */
var {
    width:7em;
    float:left;
    color : gray;
}
/*** Result coloring ***/
/* common */
.res {
    text-transform: capitalize;
    color : pink;
}
.true, .complete, .pass, .enter, .skipped, .skip, .approval, .slept, .end, .issued, .nomask {
    color : green;
}
.false, .timeout, .failed, .error {
    color : red;
}
.interrupted {
    color : gold;
}
.busy,.run {
    color : purple;
}
.action {
    color : darkorange;
}
/*** Header/Footer ***/
.tail {
    float:right;
}
.elps {
    font-size: medium;
    color: navy;
    width:5em;
}
#scroll.switch {
    width : 76px;
}
#nonstop.switch {
    width : 53px;
}
/* Slide Switch */
/*** select list ***/
.time {
    width: 4.5em;
    float: left;
    color: dimgray;
}
.time:hover {
    color: silver;
}
.cmd {
    color : blue;
}
.selected {
    color : pink;
}
