/**************** Global Style *****************/
html,body{
    width: 99%;
    height: 99%;
    margin: 0;
    background-image : url(/json/bg-1.jpg);
    background-repeat : repeat;
    background-attachment : fixed;
    color : black;
    background-color : white;
}
table{
    width : 100%;
}
th{
    text-align : center;
}
.outline{
    width : 90%;
    max-height: 95%;
    border : 5px outset lightgreen;
    margin-top: 10px;
    margin-left: 5%;
    font-weight: bold;
    background-color: rgba(200,200,200,0.5);
}
.title{
    font-size : x-large;
    text-align : center;
    color : lightcyan;
    background-color: lightgreen;
}
/*************** For Status Table ****************/
.item{
    border : 2px inset;
    font-weight: bold;
}
.label{
    text-align : center;
    color : blue;
}
.hide{
    color : black;
}
.normal{
    color : green;
}
.alarm{
    color : red;
}
.warn{
    color : gold;
}
.active{
    color : purple;
}
.ctllabel{
    text-align : center;
    color : maroon;
    font-size: large;
    font-weight: bold;
}
.button{
    font-weight: bold;
}
.center{
    text-align :center;
}
/****************** For Macro *******************/
/* Frame */
.contents{
    margin: 5px;
    overflow: auto;
}
/* contents */
h4{
    margin: 0;
}
date{
    font-size: medium;
    float:right;
    color: blue;
}
ul{
    list-style: none;
    margin-left:1.5em;
    padding:0;
}
/** Step Line **/
/* common */
.head {
    font-size: middle;
    text-transform: uppercase;
}
.elps {
    font-size: medium;
    float:right;
    color: blue;
    width:5em;
}
/* By Title */
.mcr{
    color : chocolate;
}
.exec, .query{
    color : magenta;
    font-weight: bold;
}
.upd, .cfg {
    color :green;
}
.check, .goal, .wait, .sleep, .verify {
    color : cyan;
}
/* var name of condition */
var {
    width:7em;
    float:left;
    color : dimgray;
}
/*** result ***/
/* common */
.res {
    color : lightgreen;
    text-transform: capitalize;
}
.false, .timeout, .faied, .error {
    color : red;
}
.interrupted {
    color : gold;
}
.busy,.run {
    color : purple;
}
.action {
    color : dimgray;
}
/*** footer ***/
div#footer {
    width : 100%;
    border : 2px outset;
    font-weight: bold;
}
span#status {
    width : 5em;
    float : right;
    color : lightgreen;
    text-transform: capitalize;
}
/*** select list ***/
.time {
    width: 4.5em;
    float: left;
    color: dimgray;
}
.cmd {
    color : navy;
}
a {
    text-decoration:none;
}
